.featured{
	height: 90vh;
	position: relative;
}
.featured img{
	width: 100%;
	height: 100%;
	object-fit: cover !important;
}
.featured .info{
	width: 35%;
	position: absolute;
	left: 50px;
	bottom: 100px;
	color: white;
	display: flex;

	flex-direction: column;
}
.featured .info img{
	width: 600px;
	top: -120px;
	left: 50px;
	position: relative;
}
.featured .info .desc{
	width: 600px;
	top: -120px;
	left: 60px;
	margin: 20px 0px;
	position: relative;
}
.featured .info .buttons{
	width: 600px;
	top: -120px;
	left: 80px;
	position: relative;
	display: flex;
}
.featured .info .buttons button{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-self: center;
	font-size: 18px;
	font-weight: 500;
	margin-right: 10px;
	cursor: pointer;
}
.featured .info .buttons .play{
	background-color: white;
	color: var(--main-color);
}
.featured .info .buttons .more{
	background-color: gray;
	color: white;
}
.featured .info	.buttons span{
	margin-left: 5px;
}
.featured .category{
	position: absolute;
	top:  190px;
	left: 95px;
	font-size: 30px;
	font-weight: 500;
	color: white;
	display:  flex;
	align-items: center;
	
	font-weight: 900;
}
.featured .category span{
	font-size: 34px;
}
.featured .category select{
	cursor: pointer;
	background-color: black ;
	border: 1px solid white ;
	color: white;
	margin-left: 20px;
	padding: 8px;
	transform: scale(1,0.1.0);
	font-size: 18px;

}
